{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{% load website_filters %}

<div class="container mt-5 pt-5">
    <h2 class="mt-5 pt-5">Administración para datos de {{ model_name }}</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% for field in raw_fields %}
                        <td>{{ obj|attr:field|display_role:field }}</td>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                    <tr>
                        {% for field in raw_fields %}
                            <td>{{ obj|attr:field }}</td>
                        {% endfor %}
                        <td>
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ obj.id }}">
                                <button class = "btn btn-warning" type="submit" name="editar">Edit</button>
                            </form>
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ obj.id }}">
                                <button class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')" type="submit" name="eliminar">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="col">
    <div class="card card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% if editing == True %}
                    <button class="btn btn-primary" type="submit" name="guardar">Actualizar</button>
                {% else %}
                    <button class="btn btn-primary" type="submit" name="guardar">Guardar</button>
                {% endif %}
            {% endbuttons %}
            <input type="hidden" name="editing" value="{{ editing }}">
            <input type="hidden" name="id" value="{{ id }}">
        </form>
    </div>
</div>

{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock content %}