{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{% load website_filters %}

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />

<div class="container-fluid">
    <h2 class="mt-5 pt-5">Administración para datos de {{ model_name|model_translated }}</h2>
    <div class="row pt-2">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Añadir/Editar
                </div>
                <div class="card-body">
                    <!-- Your form content -->
                    <form method="POST" enctype="multipart/form-data" id="save_edit_form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="hidden" name="editing" value="{{ editing }}">
                        <input type="hidden" name="id" value="{{ id }}">
                        {% buttons %}
                            {% if editing == True %}
                                <button class="btn btn-primary" type="submit" name="guardar">Actualizar</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit" name="guardar">Guardar</button>
                            {% endif %}
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
        <!-- Main Content -->
        <div class="col-md-9">
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-sm table-striped" id="data_table">
                        <thead>
                            <tr>
                                {% for field in model_fields %}
                                <th scope="col">{{ field }}</th>
                                {% endfor %}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in objs %}
                            <tr>
                                {% for field in raw_fields %}
                                <td>{{ obj|attr:field|display_role:field }}</td>
                                {% endfor %}
                                <td>
                                    <div class="btn-group" role="group">
                                        <form method="POST" style="display:inline;" id="edit_form">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ obj.id }}">
                                            <button class="btn btn-warning mx-1" type="submit" name="editar">
                                                Edit
                                            </button>
                                        </form>
                                        {% if model_name == "usuarios" %}
                                        <button type="button" onclick="setReceiverId('{{ obj.id }}')" data-bs-toggle="modal" data-bs-target="#password_modal" class="btn btn-primary ms-1 mx-1">
                                            Change Password
                                        </button>
                                        {% endif %}
                                        {% if obj != request.user %}
                                        <form method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ obj.id }}">
                                            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" type="submit" name="eliminar">
                                                Delete
                                            </button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" 
         id="password_modal" 
         tabindex="-1" 
         aria-labelledby="exampleModalLabel" 
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" 
                        id="exampleModalLabel">
                        Cambiar Contraseña
                    </h5>
                    <button type="button" 
                            class="btn-close" 
                            data-bs-dismiss="modal" 
                            aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form password_form %}
                    <input type="hidden" name="password_form">
                    <input type="hidden" name="id_receiver" id ="receiver_in_modal" value="">
                    {% buttons %}
                      <button class="btn btn-primary" type="submit" name="guardar">Cambiar contraseña</button>
                    {% endbuttons %}
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script src="https://unpkg.com/htmx.org@1.8.6"></script>


<script>

    $(document).ready( function () {
        $('#data_table').DataTable();
    } );

    function filterTable(inputId, columnIndex) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(inputId);
        filter = input.value.toUpperCase();
        table = document.getElementById("yourTableId");
        tr = table.getElementsByTagName("tr");
        
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[columnIndex];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }
</script>

{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock content %}