{% load bootstrap5 %}
{% load website_filters %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
</head>
  <body>
    <div class="container">
      <div class="card p-6 p-lg-10 space-y-4">
        <h1 class="h3 fw-700">
          {{title}}
        </h1>
        <p>
          Hola, {{receiver.first_name}} {{receiver.last_name}}. <br>
          El/la {{ role }} {{sender.first_name}} {{sender.last_name}}, {% if degree %} de {{degree}} {%endif%} se ha comunicado contigo: <br>
          "Hola {{receiver.username}}, {{action}} {{int_type}} en {{subject}}. Pongámonos en contacto! <br>
          Te dejo mi correo: {{sender.email}} <br>
          Espero tu respuesta!"<br><br>
        </p>
        <a class="btn btn-primary p-3 fw-700" href="http://127.0.0.1:8000/"> Visítanos</a>
      </div>
      <div class="text-muted text-center my-6">
        Este correo fue generado de manera automática por LinkICB <br>
        LinkICB. Escuela de Ingeniería Civil en Bioinformática<br>
        Universidad de Talca, Talca, Chile<br>
      </div>
    </div>
  </body>
</html>
{% bootstrap_css %}
{% bootstrap_javascript %}