{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

  <div class="container mt-5 pt-5">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}  
      {% bootstrap_form form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      <a href="{% url 'password_reset' %}">Resetear la contraseña</a>
      {% endbuttons %}
    </form>
  </div>

{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock content %}