{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2>Edición de Perfil</h2>
            <form method="POST" enctype="multipart/form-data" novalidate class="needs-validation"
                action="{% url 'professor_edit' %}">
                {%csrf_token%}
                {% bootstrap_form user_form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                Actualizar Perfil
                </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% bootstrap_css %}
{% bootstrap_javascript %}

{% endblock content %}