{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
{% load website_filters %}


<div class="container mt-5 pt-5">
    <h3>hola, {{user.username}}. Has iniciado como {{role}}</h1>
</div>

<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
                {% if role == "Estudiante" and pfp %}
                    <img src={{ pfp.url }} alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                {% else %}
                    <img src="https://cdn-icons-png.flaticon.com/128/456/456283.png" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                {% endif %}
              <h5 class="my-3">{{user.first_name}} {{user.last_name}}</h5>
              {% if role == "Estudiante"%}
                <p class="text-muted mb-1">{{role}} de {{degree}}</p>
              {% elif role == "Docente" %}
                <p class="text-muted mb-1">{{role}} en</p>
              {% endif %}
              <p class="text-muted mb-4">Universidad de Talca</p>
              <div class="d-flex justify-content-center mb-2">
                {% if role == "Estudiante" %}
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Mensaje</button>
                {% endif %}
                <a  href="{% url 'delete_user' %}" onclick="return confirm('Seguro que quiere eliminar su perfil?')" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger ms-1">Borrar perfil</a>
              </div>
            </div>
          </div>
          {% if role == "Estudiante" %}
            <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                            {% for field in fields %}
                                <th scope="col">{{ field }}</th>
                            {% endfor %}
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for his in history %}
                          <tr>
                              {% for field in raw_fields %}
                                  <td>{{ his|attr:field }}</td>
                              {% endfor %}
                              <td>
                                  <form method="post" style="display:inline;">
                                      {% csrf_token %}
                                      <input type="hidden" name="id" value="{{ his.id }}">
                                      <button class="btn btn-danger" onclick="return confirm('¿Seguro que desea eliminar?')" type="submit" name="eliminar">Delete</button>
                                  </form>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
              <div class="card card-body">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form form_history %}
                      {% buttons %}
                        <button class="btn btn-primary" type="submit" name="guardar">Guardar</button>
                      {% endbuttons %}
                  </form>
              </div>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo institucional</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              {% if role == "Estudiante" %}
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo personal</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.personal_mail}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Celular</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.phone_number}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Año de ingreso</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{year}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Carrera</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{degree}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Plan Curricular</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{cplan}}</p>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {%if role == "Estudiante" %}
          <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"> OFREZCO TUTORIA DE </p>
                        <ul>
                            {% comment %} En ciclo, colocar las ayudantias de interes {% endcomment %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mb-md-0">
                  <div class="card-body">
                      <p class="mb-4">OFREZCO AYUDANTIA DE</p>
                      <ul>
                          {% comment %} en ciclo, colocar las tutorias de interes {% endcomment %}
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                  <p class="mb-4">NECESITO AUXILIO EN</p>
                  <ul>
                      {% comment %} en ciclo, colocar las tutorias de interes {% endcomment %}
                  </ul>
              </div>
          </div>            
        </div>
        {% endif %}
    </div>
    </div>
</div>
</section>

{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock content %}