{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="POST" enctype="multipart/form-data" novalidate class="needs-validation"
                action="{% url 'professor_register' %}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-center">Registro de Profesor</h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {% for field in user_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <input type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                                name="{{ field.html_name }}" class="form-control"
                                maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                                id="{{ field.id_for_label }}" required />
                        </div>
                        {% if field.errors %} {% for error in field.errors %}
                        <p style="font-size: 13px;">
                            {{ error|escape }}
                        </p>
                        {% endfor %} {% endif %} {% endfor %}
                    </div>
                    <div class="class-footer pb-2 px-2">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Registrarse</button>
                            </div>
                        </div>
                        <!-- <input type="submit" value="Registrarse" /> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}