{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}Link-ICB{%endblock%}</title>
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
</head>

<body>

    {% if request.user.role == user.ADMIN %}
        {% with role="Admin" %}
            {% include 'navbar.html'%}
        {% endwith %}
    {% elif request.user.role == user.STUDENT %}
        {% with role="Estudiante" %}
            {% include 'navbar.html'%}
        {% endwith %}
    {% elif request.user.role == user.PROFESSOR %}
        {% with role="Docente" %}
            {% include 'navbar.html'%}
        {% endwith %}
    {% endif %}

    {% block content %}
    {% endblock %}
    
    {% bootstrap_javascript %}
    <script src="{% static 'website/main.js' %}"></script>
</body>

</html>